<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <div th:replace="common/links::header"></div>
    <div th:replace="common/script::js_footer"></div>
    <script th:src="@{/js/common/verify.js}"></script>
</head>
<body class="form-body">
    <div class="layui-form-item layui-col-md6 layui-col-md-offset2">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline form-length350">
            <input type="text" name="username" th:value="${user.username}" disabled class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="text" name="username" th:value="${user.mobile}" disabled class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-inline">
            <input type="text" name="username" th:value="${user.nickname}" disabled class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-col-md4 layui-col-md-offset2">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-inline">
                <div id="previewPhoto">
                    <img src="/images/default-mem.png" th:src="${defaultImageViewPath+user.photo}"
                                            alt="" style="width: 80px;height: 80px;">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-col-md-offset4">
        <div class="layui-input-block">
            <button type="button" class="layui-btn layui-btn-primary" id="closeBtn" th:text="关闭">关闭</button>
        </div>
    </div>
<script type="text/javascript" th:inline="javascript">
    layui.use('element', function () {
        var $ = layui.jquery;
        $("#closeBtn").on("click",function () {
            Common.closeFrame();
        })
    });
</script>
</body>
</html>