<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <div th:replace="common/links::header"></div>
    <div th:replace="common/script::js_footer"></div>
</head>
<body>
<fieldset class="layui-elem-field">
    <legend>条件搜索</legend>
<form class="layui-form" style="text-align: center" id="searchForm">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">角色名</label>
            <div class="layui-input-inline">
                <input type="text" name="name"  autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" shiro:hasPermission="sys:role:basic:op" class="layui-btn layui-btn-primary" id="addBtn"><i class="layui-icon">&#xe654;</i>新增</button>
            <button type="button" class="layui-btn layui-btn-primary" id="searchBtn" ><i class="layui-icon"> &#xe615;</i>搜索</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</fieldset>
<hr class="layui-bg-green">
<table class="layui-hide" id="roleTable" lay-filter="roleFilter"></table>
<script type="text/html" id="toolBars">
    <!--<div class="layui-btn-group">-->
    <button class="layui-btn layui-btn-sm" lay-event="detail" th:title="查看">
        <i class="layui-icon">&#xe60a;</i>
    </button>
    <button class="layui-btn layui-btn-sm" shiro:hasPermission="sys:role:basic:op" lay-event="edit" th:title="修改">
        <i class="layui-icon">&#xe642;</i>
    </button>
    <button class="layui-btn layui-btn-sm" shiro:hasPermission="sys:role:basic:del" lay-event="del" th:title="删除">
        <i class="layui-icon">&#xe640;</i>
    </button>
    <button class="layui-btn layui-btn-sm" shiro:hasPermission="sys:role:basic:br" lay-event="bindResource" th:title="设置权限">
        <i class="layui-icon">&#xe620;</i>
    </button>
</script>
<script th:inline="javascript">
    layui.use('table', function(){
        var cols=[[
             {field:'checkBox',checkbox: true, fixed: true}
            ,{field:'name', title: '角色名'} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
            ,{field:'createTime', title: '创建时间'}
            ,{field:'op',title: '操作', align:'center', toolbar: '#toolBars'} //这里的toolbar值是模板元素的选择器
        ]];
        var table = layui.table,$ = layui.jquery;
        table.on('tool(roleFilter)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if(layEvent === 'detail'){ //查看
                Common.openFrame('/sys/role/detail?id=' + data.id,'用户信息','600px','500px');
            } else if(layEvent === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){
                    Common.ajaxFormSubmit('/sys/role/del', {id:data.id}, function (data) {
                        layer.close(index);
                        layer.msg(data.msg,{icon:6},function () {
                            $('#searchBtn').click();
                        });
                    });
                });
            } else if(layEvent === 'edit'){ //编辑
                Common.openFrame('/sys/role/to-edit?id=' + data.id,'修改角色信息','600px','500px',function () {
                    $('#searchBtn').click();
                });
            } else if(layEvent === 'bindResource'){ //编辑
                Common.openFrame('/sys/role/to-bind-resource?id=' + data.id,'设置权限','500px','700px');
            }
        });
        var initTable = Common.initSimpleTable('#roleTable','/sys/role/query-all',cols,table);
        $('#searchBtn').on('click',function () {
            Common.searchTable('searchForm',initTable,false);
        });
        $("#addBtn").on('click',function () {
            Common.openFrame('/sys/role/to-edit','添加角色信息','600px','500px',function () {
                $('#searchBtn').click();
            });
        })
    });
</script>
</body>
</html>